keras==2.15.0
streamlit
numpy
pandas
scikit-learn
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.15.1
tensorflow-datasets==4.9.7
tensorflow-decision-forests==1.8.1
tensorflow-estimator==2.15.0
tensorflow-gpu==2.10.1
tensorflow-hub==0.16.1
tensorflow-intel==2.15.1
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.16.1
tensorflowjs==4.21.0
tensorstore==0.1.66
termcolor==2.4.0
tf_keras==2.15.1
